@font-face {
    src: url(./resources/fonts/StarcraftNormal.ttf);
    font-family: starcraft
}

@font-face {
    src: url(./resources/fonts/LifeCraft_Font.ttf);
    font-family: warcraft
}

header {
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
    background-color: #D8D9DA;
}

h1 {
    font-family: Starcraft;
    font-size: 48px;
    font-weight: 700;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #FFF6E0;
  }

body {
    background-color: #D8D9DA;
}

.about-me-container {
    display: flex;
}

.about-me-text-container {
    margin-right: 3rem;
}

#profilephoto {
    width: 5%;
    height: 5%;

}

